@import url('css/contact.css');

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-slight-dark);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Geist Sans";
    color: var(--text);
    user-select: none;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
    font-family: "Inter";
    font-weight: 400;
    color: var(--text-dim);
}

button {
    border-style: none;
    border-width: 1px;
    border-color: transparent;
    color: var(--background);
    font-family: "Inter";
    font-weight: 300;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-image: linear-gradient(to top right, var(--accent-slight-dark), var(--accent-secondary));
}

button:hover {
    background-image: linear-gradient(to top right, var(--accent-slight-dark), var(--accent-secondary) 30%);
}

.navigation {
    position: fixed;
    padding: 1rem;
    box-sizing: border-box;
    width: 100vw;
    z-index: 9999;
    gap: 0.5rem;
}

.navigation h2 {
    font-family: "Inter" !important;
    font-weight: 400;
}

.navigation img {
    width: 2.3rem;
}

/*.navigation img {
    filter: brightness(0) invert(80%) sepia(62%) saturate(6531%) hue-rotate(243deg) brightness(86%) contrast(84%);
}*/

.navigation-right {
    position: absolute;
    right: 2rem;
    top: 2rem;
    gap: 2rem;
}

.navigation-item {
    font-family: "Inter";
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.navigation-item:hover {
    color: var(--text);
}

.content {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.hero-text-container {
    width: 30rem;
    text-align: center;
}

.secondary-font {
    font-family: "Inter";
    font-weight: 300;
}

.text-highlight {
    background: linear-gradient(to right, var(--accent-primary), var(--accent-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text-container button {
    font-size: 1.2rem;
}

#home {
    background: radial-gradient(circle at bottom, var(--accent-dark) 5%, var(--background) 80%);
}

#home.content {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

#about {
    background: radial-gradient(circle at top, var(--accent-dark) 5%, var(--background) 80%);
}

.blurb-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.blurb-item {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--accent-dark);
    background-image: linear-gradient(to bottom right, transparent, var(--accent-dark));
    padding: 1rem;
    box-sizing: border-box;
    width: 15rem;
    height: auto;
}

.blurb-item h4 {
    font-weight: 300;
    font-size: 1rem;
}

#contact {
    background: var(--background);
    position: relative;
}

.contact-container {
    display: grid;
    grid-gap: 1rem;
    width: 30rem;
}

.contact-container input, textarea {
    width: 100%;
    outline: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-dark);
    border-radius: 5px;
    background: transparent;
    resize: none;
    color: var(--text-dim);
    font-size: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: "Inter";
    font-weight: 300;
}

.contact-container input:focus, .contact-container textarea:focus {
    border-color: var(--accent-secondary);
}

.label {
    color: var(--accent-slight-dark);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.contact-container textarea {
    height: 10rem;
}

.terminal {
    background: rgba(0, 0, 0, 0.5);
    border-color: rgb(29, 29, 29);
    display: grid;
    grid-template-rows: auto 1fr;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 35rem;
}

.terminal-header {
    padding: 0.4rem;
    box-sizing: border-box;
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgb(29, 29, 29);
    gap: 0.3rem;
}

.terminal-header div {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
}

#terminalContent {
    height: 30rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: "Fira Code";
    font-size: 0.8rem;
    color: white;
    overflow: hidden;
}

.toast {
    visibility: hidden;
    max-width: 50%;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 999;
    right: 30px;
    bottom: 30px;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px); 
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
}

.toast.hide {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px); 
}

.typewriter-container {
    position: relative;
    display: inline-block;
}

#typewriterText {
    display: inline-block;
    min-width: 150px;
    text-align: left;
    color: var(--accent-primary);
}

.caret {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 1px;
    background-color: #fff; /* Or any color that matches your design */
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}