#contact {
    background: var(--background);
    position: relative;
}

.modal-content {
    height: 20rem;
    overflow: auto;
}

.modal-content::-webkit-scrollbar-track {
    background: transparent;
}

.modal-content::-webkit-scrollbar-thumb {
    background: var(--accent-slight-dark);
    border-radius: 5px;
}

.contact-container {
    display: grid;
    grid-gap: 1rem;
    width: 30rem;
}

.contact-container input, textarea {
    width: 100%;
    outline: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-dark);
    border-radius: 5px;
    background: transparent;
    resize: none;
    color: var(--text-dim);
    font-size: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: "Inter";
    font-weight: 300;
}

.contact-container input:focus, .contact-container textarea:focus {
    border-color: var(--accent-secondary);
}

.contact-container textarea {
    height: 10rem;
}

.terms-and-conditions {
    font-family: "Inter";
    font-weight: 3=00;
    font-size: 0.8rem;
    color: var(--accent-secondary);
    display: flex;
    align-items: center;
    justify-content: left;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
}


.disable-submit {
    filter: grayscale(1);
    cursor: not-allowed;
}