/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transition: top 0.5s ease-in-out; /* Smooth slide-in effect */
}

/* Modal Content */
.modal-content {
    border-radius: 15px;
    background-color: var(--accent-dark);
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid var(--accent-secondary);
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px;
}
  
/* Close button (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  